<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Grocery Shoppy an Ecommerce Category Bootstrap Responsive Web Template | Home :: w3layouts</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="~/Assets/Layout2/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/Assets/Layout2/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="~/Assets/Layout2/css/font-awesome.css" rel="stylesheet">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
	<!--pop-up-box-->
	<link href="~/Assets/Layout2/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<!--//pop-up-box-->
	<!-- price range -->
	<link rel="stylesheet" type="text/css" href="~/Assets/Layout2/css/jquery-ui1.css">
	<!-- fonts -->
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body onload="checkvalidate1()">

    <!-- top-header -->
    <div class="header-most-top">
        <p>Grocery Offer Zone Top Deals & Discounts</p>
    </div>
    <!-- //top-header -->
    <!-- header-bot-->
    <div class="header-bot">
        <div class="header-bot_inner_wthreeinfo_header_mid">
            <!-- header-bot-->
            <div class="col-md-4 logo_agile">
                <h1>
                    <a href="http://localhost:14787/Home/Index">
                        <span>G</span>rocery
                        <span>S</span>hoppy
                        <img src="~/Assets/Layout2/images/logo2.png" alt=" ">
                    </a>
                </h1>
            </div>
            <!-- header-bot -->
            <div class="col-md-8 header">
                @{Html.RenderAction("HeaderList", "User"); }
                <!-- //header lists -->
                <!-- search -->
                <div class="agileits_search">
                    <form action="#" method="post">
                        <input name="Search" type="search" placeholder="How can we help you today?" required="">
                        <button type="submit" class="btn btn-default" aria-label="Left Align">
                            <span class="fa fa-search" aria-hidden="true"> </span>
                        </button>
                    </form>
                </div>
                <!-- //search -->
                <!-- cart details -->
                <div class="top_nav_right">
                    <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                        <button class="w3view-cart" type="submit" name="submit" onclick="javascript:location.href='http://localhost:14787/Cart/Index'" value="">
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <!-- //cart details -->
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- signin Model -->
    <!-- Modal1 -->
    <!-- //Modal1 -->
    <!-- //signin Model -->
    <!-- signup Model -->
    <!-- Modal2 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body modal-body-sub_agile">
                    <div class="main-mailposi">
                        <span class="fa fa-envelope-o" aria-hidden="true"></span>
                    </div>
                    <div class="modal_body_left modal_body_left1">
                        <h3 class="agileinfo_sign">Sign Up</h3>
                        <p>
                            Come join the Grocery Shoppy! Let's set up your Account.
                        </p>
                        <form action="/Product" method="post">

                            <div class="styled-input agile-styled-input-top">
                                <input type="text" placeholder="Name" name="Name" required="">
                            </div>
                            <div class="styled-input">
                                <input type="email" placeholder="E-mail" name="Email" required="">
                            </div>
                            <div class="styled-input">
                                <input type="password" placeholder="Password" name="password" id="password1" required="">
                            </div>
                            <div class="styled-input">
                                <input type="password" placeholder="Confirm Password" name="Confirm Password" id="password2" required="">
                            </div>
                            <input type="submit" value="Sign Up">

                        </form>
                        <p>
                            <a href="#">By clicking register, I agree to your terms</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- //Modal content-->
        </div>
    </div>
    <!-- //Modal2 -->
    <!-- //signup Model -->
    <!-- //header-bot -->
    <!-- navigation -->
    <div class="ban-top">
        @{Html.RenderAction("ban_top", "Home"); }
    </div>
    <!-- //navigation -->
    <!-- banner -->
    @RenderSection("banner", required: false)
    <script>
        function checkvalidate1() {
            var url = window.location.href;
            var input = url.substring(url.length - 13);
            if (input == "/Home/Index/2") {
                alert("Username or password is incorrect!");
            }
            else if (input == "/Home/Index/0") {
                alert("This account was blocked");
            }
            else if (input == "/Home/Index/3") {
                alert("Signup is success!");
            }
        }
    </script>
    <!-- //banner -->
    <!-- top Products -->
    <div class="ads-grid">
        @RenderBody()

    </div>
    <!-- //top products -->
    <!-- special offers -->
    <div class="featured-section" id="projects">
        @RenderSection("Related_Product", required: false)
    </div>
    <!-- //special offers -->
    <!-- newsletter -->
    <div class="footer-top">
        <div class="container-fluid">
            <div class="col-xs-8 agile-leftmk">
                <h2>Get your Groceries delivered from local stores</h2>
                <p>Free Delivery on your first order!</p>
                <form action="#" method="post">
                    <input type="email" placeholder="E-mail" name="email" required="">
                    <input type="submit" value="Subscribe">
                </form>
                <div class="newsform-w3l">
                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                </div>
            </div>
            <div class="col-xs-4 w3l-rightmk">
                <img src="~/Assets/Layout2/images/tab3.png" alt=" ">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //newsletter -->
    <!-- footer -->
    @{Html.RenderAction("Footer", "Home"); }
    <!-- //footer -->
    <!-- copyright -->
    <div class="copy-right">
        <div class="container">
            <p>
                © 2017 Grocery Shoppy. All rights reserved | Design by
                <a href="http://w3layouts.com"> W3layouts.</a>
            </p>
        </div>
    </div>
    <!-- //copyright -->
    <!-- js-files -->
    <!-- jquery -->
    <script src="~/Assets/Layout2/js/jquery-2.1.4.min.js"></script>
    <!-- //jquery -->
    <!-- popup modal (for signin & signup)-->
    <script src="~/Assets/Layout2/js/jquery.magnific-popup.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
    <!-- Large modal -->
    <!-- <script>
        $('#').modal('show');
    </script> -->
    <!-- //popup modal (for signin & signup)-->
    <!-- cart-js -->
    <script src="~/Assets/Layout2/js/minicart.js"></script>
    <script>
        paypalm.minicartk.render(); //use only unique class names other than paypalm.minicartk.Also Replace same class name in css and minicart.min.js

        paypalm.minicartk.cart.on('checkout', function (evt) {
            var items = this.items(),
                len = items.length,
                total = 0,
                i;

            // Count the number of each item in the cart
            for (i = 0; i < len; i++) {
                total += items[i].get('quantity');
            }

            //if (total < 3) {
            //	alert('The minimum order quantity is 3. Please add more to your shopping cart before checking out');
            //	evt.preventDefault();
            //}
        });
    </script>
    <!-- //cart-js -->
    <!-- price range (top products) -->
    <script src="~/Assets/Layout2/js/jquery-ui.js"></script>
    <script>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [50, 6000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        }); //]]>
    </script>
    <!-- //price range (top products) -->
    <!-- flexisel (for special offers) -->
    <script src="~/Assets/Layout2/js/jquery.flexisel.js"></script>
    <script>
        $(window).load(function () {
            $("#flexiselDemo1").flexisel({
                visibleItems: 3,
                animationSpeed: 1000,
                autoPlay: true,
                autoPlaySpeed: 3000,
                pauseOnHover: true,
                enableResponsiveBreakpoints: true,
                responsiveBreakpoints: {
                    portrait: {
                        changePoint: 480,
                        visibleItems: 1
                    },
                    landscape: {
                        changePoint: 640,
                        visibleItems: 2
                    },
                    tablet: {
                        changePoint: 768,
                        visibleItems: 2
                    }
                }
            });

        });
    </script>
    <!-- //flexisel (for special offers) -->
    <!-- password-script -->

    <script>
        function checkValidate9000() {
            var signup_username = document.getElementById("signup_username").value;
            var usernameTest = $("#signup_username").val();

            var pass1 = document.getElementById("password1").value;
            var pass2 = document.getElementById("password2").value;
            var f_name = document.getElementById("signup_firstname").value;
            var l_name = document.getElementById("signup_lastname").value;

            if (signup_username.length < 6) {
                console.log("done checkpass");
                alert("Username requirement must at least 6 characters");
                document.getElementById("signup_username").focus;
                return false;
            }

            if (pass1.length < 6) {
                console.log("done checkpass");
                alert("Password requirement must at least 6 characters");
                document.getElementById("password1").focus;
                return false;
            }

            if (pass1 != pass2) {
                console.log("done checkpass");
                alert("Confirm password is not correct!");
                document.getElementById("password2").focus;
                return false;
            }

            var reg = /^(([a-zA-Z])+(\s)*)+$/;
            if (reg.test(f_name) == false) {
                console.log("done checkpass");
                alert("Wrong format first name");
                document.getElementById("signup_firstname").focus;
                return false;
            }
            if (reg.test(l_name) == false) {
                console.log("done checkpass");
                alert("Wrong format last name");
                document.getElementById("signup_lastname").focus;
                return false;
            }

            $.ajax({
                url: "/User/CheckDuplicateUsername",
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ uName: usernameTest }),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data == "true") {
                        alert("This username was existed, please try another name");
                        return false;
                    }
                },
                error: function (er) {
                    alert("Lỗi ajax");
                }
            });
        }
    </script>
    <!-- //password-script -->
    <!-- smoothscroll -->
    <script src="~/Assets/Layout2/js/SmoothScroll.min.js"></script>
    <!-- //smoothscroll -->
    <!-- start-smooth-scrolling -->
    <script src="~/Assets/Layout2/js/move-top.js"></script>
    <script src="~/Assets/Layout2/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            */
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>

    <script>
        function checkAmount(id) {
            $.ajax({
                url: "/Cart/CheckAmount",
                dataType: "json",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify({ id: id}),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    if (data == "true") {
                        alert("This product is out of stock, please try a different one");
                        return false;
                    }
                    else {
                        location.href = "http://localhost:14787/Cart/Add?id=" + id +"&quantity=1";
                    }
                },
                error: function (er) {
                    alert("Lỗi ajax");
                }
            });
        }
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- for bootstrap working -->
    <script src="~/Assets/Layout2/js/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- //js-files -->
</body>

</html>
