
@model List<LaptopShop.Models.Catalog>

<div class="agileits-navi_search">
    <form action="#" method="post">
        <select id="agileinfo-nav_search" name="agileinfo_search" required="" onchange="location = this.value;">
            <option value="">All Categories</option>
            @foreach (var item in Model)
            {
                <option value="http://localhost:14787/Product/FillByCatalog/@item.ID" >@item.Catalog_Name</option>
            }

        </select>
    </form>
</div>